html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

#artboard {
    -webkit-box-shadow: 7px 7px 45px -8px rgba(0,0,0,0.24);
    -moz-box-shadow: 7px 7px 45px -8px rgba(0,0,0,0.24);
    box-shadow: 7px 7px 45px -8px rgba(0,0,0,0.24);
    letter-spacing: 3px;
}

#desc {
    position: relative;
    left: 20px;
    bottom: 30px;
    font-family: monospace;
    font-size: 8pt;
    letter-spacing: 2px;
}

#container {
}