html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #262626;
}

#artboard {
    -webkit-box-shadow: 7px 7px 45px -8px rgba(0,0,0,0.20);
    -moz-box-shadow: 7px 7px 45px -8px rgba(0,0,0,0.20);
    box-shadow: 7px 7px 45px -8px rgba(0,0,0,0.20);
    letter-spacing: 3px;
}

#desc {
    position: relative;
    left: 20px;
    bottom: 30px;
    font-family: monospace;
    font-size: 8pt;
    letter-spacing: 2px;
}

#tooltip {
    position: relative;
    top: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 9pt;
    letter-spacing: 3px;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fade {
    from {  color: #d9d9d9;
            top: 25px;}
    to {    color: #262626;
            top: 20px;}
}